<p>
  <a href="<%= user_path comment.user %>">
    <%= comment.user.name %>
  </a> says:
  <%= comment.content %>
  <% if comment.user == current_user %>
    <a href="<%= comment_path comment %>" data-method='delete'>Delete</a>
  <% end %>
</p>
